.career13-page {
  margin-bottom: 30px;
  &__heading {
    margin-bottom: 40px;
  }
  &__test-link {
    margin-bottom: 5px;
  }
  &__container {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }

}