.economy-page {
  &__container {
    max-width: 780px;
    margin-right: auto;
    margin-left: auto;
  }

  &__tocer-heading {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  &__wide-img {
    width: 100%;
    height: auto;
  }

  &__table {
    margin-top: 35px;
    margin-bottom: 60px;
  }

  &__info-group {
    @media only screen and (max-width: 768px) {
      &--tar {
        text-align: left;
      }
      &--tal {
        text-align: right;
      }
    }

    &--tar {
      text-align: right;
    }
    &--tal {
      text-align: left;
    }    
  }

  &__map {
    position: relative;
    min-height: 600px;

    @media only screen and (max-width: 992px) {
      order: -1;
    }
  }

  &__map-wrapper {
    padding: 0 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__map-image {
    width: 100%;
    height: auto;
  }

  &__tab-content {
    margin-top: 25px;
  }

  path {
    cursor: pointer;
    &:hover,
    &.active {
      fill: #00ba35;
    }
  }

  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
  }
}