.page-404 {
  text-align: center;
  padding-bottom: 170px;

  &__404 {
    display: block;
    color: rgba(#000, .1);
    font-weight: bold;
    line-height: normal;
    font-size: 80px;
    margin-top: 171px;
    margin-bottom: 25px;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__title {
    display: block;
    margin-bottom: 39px;
  }
}