.chart-group {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;

  &__links {
    text-align: right;
    width: 340px;
    margin-right: 30px;
  }

  &__link {
    display: block;
    margin-bottom: 20px;
  }

  &__tabs {
    width: 100%;
  }

  &__tab {
    display: none;

    &.active {
      display: block;
    }
  }
}