.folder {
  width: 100%;
  margin-bottom: 70px;
  &__header {
    display: block;
    display: flex;
    align-items: center;
    height: 47px;

    @media only screen and (max-width: 568px) {
      align-items: center;
    }
  }

  &__heading {
    font-size: 20px;
    font-weight: bold;
    display: block;
    background-color: $success;
    width: 180px;
    padding-left: 20px;
    line-height: 47px;
    border-radius: 8px 8px 0 0;
    margin: 0;
  }

  &__title {
    margin-left: 20px;
    opacity: .5;
  }

  &__profs {
    padding: 20px;
    background-color: $success;
    border-radius: 0 20px 20px 20px;
    &-list {
      @include list-reboot();
      display: block;
      margin-top: 0;
      columns: 2;
      column-width: 380px;
    }

    &-item {
      margin-bottom: 10px;
    }
  }
}

.folder--neutral {
  .folder {
    &__heading {
      background-color: $neutral;
    }
    &__profs {
      background-color: $neutral;
    }
  }
}

.folder--danger {
  .folder {
    &__heading {
      background-color: $danger;
    }
    &__profs {
      background-color: $danger;
    }
  }
}