.header {
  background-image: url('../img/background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  
  &__top-header {
    margin-top: 33px;
    margin-bottom: 25px;
  }
  
  &__heading {
    margin: 150px auto;
    max-width: 670px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  &__menu {
    background-color: $accent;
  }
}

.header--index {
  background-image: url('../img/background.jpg');

  .header {
    &__top-header {
      margin-bottom: 0;
    }
  }
}