.header {
  background-image: url('images/background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  
  &__top-header {
    margin-top: 33px;
    margin-bottom: 25px;
  }
  
  &__heading {
    margin: 150px auto;
    max-width: 670px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;

    @media only screen and (max-width: 768px) {
      font-size: 40px;
    }
  }
  
  &__menu {
    background-color: $accent;
  }
}

.header--index {
  background-image: url('images/background.jpg');

  .header {
    &__top-header {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 568px) {
  .header .header__heading {
    font-size: 25px;
  }
}