.icon {
  @include bg-icon();
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50%;
  background-color: #fff;
  border-radius: 50%;

  &--money {
    background-image: url('images/money.svg');
  }

  &--stats {
    background-image: url('images/stats.svg');
  }

  &--brain {
    background-image: url('images/brain.svg');
  }

  &--setting {
    background-image: url('images/setting.svg');
  }

  &--pills {
    background-image: url('images/pills.svg');
  }

  &--edu {
    background-image: url('images/edu.svg');
  }
}