.links-group {
  padding: 20px 50px;
  border-radius: 20px;
  border: 1px solid rgba($accent, .3);
  overflow: hidden;

  &__items {
    @include list-reboot();
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: 20px 46px;
    position: relative;
    margin: 0 auto;
    @media only screen and (max-width: 1200px) {
      &:nth-child(3) {
        &::after {
          display: none;
        }
      }
    }
    @media only screen and (max-width:  992px) {
      &::after {
        display: none;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 50px;
      width: 1px;
      height: 148px;
      background-color: rgba($accent, .3);
    }
  }

  &__link {
    margin-top: 17px;
    text-align: center;
    display: block;
  }

}