.logo {
  text-decoration: none;
  color: $secondary;
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;

  &__image-wrapper {
    width: 70px;
    flex: 0 0 auto;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__caption-wrapper {
    margin-left: 25px;
    width: 250px;
    flex: 0 0 auto;

    @media only screen and (max-width: 568px) {
      width: 190px;
      font-size: 12px;
    }
  }

  &__heading {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    @media only screen and (max-width: 568px) {
      font-size: 25px;
    }
  }

  &__caption {
    margin: 0;
    margin-top: 2px;
    font-weight: bold;
  }
}