.pagination {
  @include list-reboot();
  text-align: center; 
  border-top: 1px solid #D8D8D8;
  margin-top: 20px;
  padding-top: 30px;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
  }

  &__link {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;

    &--active {
      border-radius: 50%;
      background-color: rgba(#000, .1);
      color: #000;
    }

    &--icon {
      @include bg-icon();
      width: 8px;
      height: 30px;
      font-size: 0;
      margin: 0 8px;

      &:hover {
        filter: brightness(130%); 
      }

      &--prev {
        background-image: url('../img/prev.svg');
      }

      &--next {
        background-image: url('../img/next.svg');
      }
    }
  }

}