.search-page {
  padding-bottom: 70px;
  &__search {
    display: block;
    margin: 0 auto;
    margin-bottom: 21px;
    max-width: 780px;
  }

  // ul.directory__group>li.directory__item>h3.directory__heading^(li.directory__item>a.link[href=#])*5

  &__tag {
    display: block;
    margin: 0 auto;
  }

  &__pagination {
    margin-top: 30px;
  }
}