.slick {  
  &__arrow {
    position: absolute;
    display: block;
    height: 50px;
    width: 25px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    top: 33%;
    transform: translate(0,-50%);
    padding: 0;
    border: 0;
    outline: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;    

    @media only screen and (max-width:  568px) {
      
      height: 50px;
      width: 25px;

      &--prev {
        left: -20px;
      }
      &--next {
        right: -20px;
      }
    }
    
    &:hover {
      filter: brightness(150%);
    }
    
    &--prev {
      left: -50px;
      background-image: url('images/prev.svg');
    }
    
    &--next {
      right: -50px;
      background-image: url('images/next.svg');
    }
  }
}

.slick--medium {
  .slick {
    &__arrow {
      top: 50%;
      
      @media only screen and (max-width:  568px) {
        height: 50px;
        width: 25px;
  
        &--prev {
          left: -20px;
        }
        &--next {
          right: -20px;
        }
      }
      
      &--prev {
        left: -75px;
        background-image: url('images/prev.svg');
      }
      
      &--next {
        right: -75px;
        background-image: url('images/next.svg');
      }
    }
  }
}
