.text {
  padding: 20px 20px 20px 0;
  border-radius: 0 20px 20px 0;
  
  &__heading {
    font-weight: bold;
    font-size: 20px;
  }
  
  &__list {
    margin: 0;
  }
  
  &__list-item {
    margin-bottom: 15px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &--with-bg {
    background-color: rgba($accent, .1);
  }
  
  &--left-border {
    border-left: 4px solid $accent;
  }
  
  &--text {
    padding: .1px;
  }
}

.text--wide-list {
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 8px;
  padding-bottom: 20px;
  margin-top: 0;

  &.text--with-bg {
    margin-top: 20px;
  }
  
  .text {
    &__heading {
      margin-left: 20px;
    }
    
    &__list-item {
      margin-bottom: 1px;
    }    
  }
}

.text--with-heading {
  padding: 30px;
  padding-top: .1px;
  padding-left: 30px;
  border-radius: 8px;
  margin-bottom: 40px;
}