.top-nav {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: 992px) {
    justify-content: flex-start;
  }

  @media only screen and (max-width: 768px) {
    display: block;
  }

  &__items {
    @include list-reboot();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  &__item {
    margin: 0 15px;
    margin-bottom: 10px;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: $accent;

    &:hover {
      text-decoration: underline;
    }

    &--icon {
      width: 40px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;


      &--eye {
        background-image: url('../img/eye.svg');
      }

      &--search {
        height: 23px;
        background-image: url('../img/search.svg');
      }
    }
  }
}