<div class="container">
  <nav class="menu">
    <button class="menu__link menu__link--hamburger ">Гамбургер</button>
    <ul class="menu__items">
      <li class="menu__item">
        <a href="#" class="menu__link">Экономика и рынок труда</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Барометр занятости</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Профориентация</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Профессиии</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Образование</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Работодатели</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Полезные материалы</a>
      </li>
    </ul>
  </nav>
</div>