html {
  box-sizing: border-box;
  height: 100%;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a, button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: $accent;
  cursor: pointer;

  &--small {
    font-size: 12px;
  }

  &:hover {
    text-decoration: underline;
  }

  &--tel {
    color: #000;
  }

  &--bold {
    font-weight: bold;
  }

  &--block {
    margin-top: 20px;
    display: block;
  }

  &--icon {
    position: relative;
    &::before {
      @include bg-icon();
      position: absolute;
      content: "";
      left: -32px;
      top: -2px;
      width: 25px;
      height: 25px;
    }

    &--list {
      &::before {
        background-image: url('images/list.svg')
      }
    }

    &--small {
      &::before {
        top: 2px;
        left: -22px;
        width: 13px;
        height: 18px;
      }
    }

    &--next {
      display: flex;
      align-items: center;
      &::before {
        display: none;
      }
      &::after {
        @include bg-icon();
        background-size: 30%;
        margin-left: 7px;
        position: relative;
        top: 1px;
        width: 22px;
        height: 22px;
        border: 1px solid $accent;
        border-radius: 50%;
        content: "";
        background-image: url('images/next-small.svg');
      }
      &:hover {
        &::after {
          filter: saturate(350%);
        }
      }
    }
  }

  &--italic {
    font-style: italic;
  }

  &--title {
    color: $accent;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
  }

  &--active,
  &.active {
    cursor: default;
    color: black;

    &:hover {
      text-decoration: none;
    }
  }
}

.heading {
  &--section {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &--page {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;    

    @media only screen and (max-width: 568px) {
      font-size: 25px;
    }
  }

  &--top-icon {
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: bold;
    background: rgba(#D8D8D8, .3);
    text-align: center;
    padding: 16px;
    border-radius: 8.5px;
    
    .icon {
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.section-header {
  margin-top: 70px;
  margin-bottom: 40px;

  .link--icon {
    line-height: 25px;
    margin-left: 30px;
  }
}

.justify-content-between {
  display: flex;
}