// *********** Colors *************//
$accent: #0070BA;
$secondary: #F0B435; 
$success: #B1E482;
$neutral: #75CEFA;
$danger: #FEEB9B;


// *********** Text *************//
$default: "roboto-example", Arial, Helvetica, sans-serif;

// *********** Breakpoints *************//
$w-small: 680px;
$w-small-only: 679px;
$w-large: 1010px;


// *********** Container widths *************//
$container-w-small: 640px;